__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints
*.ipynb
.env
.env.local
*.env
mlruns/
mlartifacts/
airflow/logs/
airflow/*.db
airflow/*.pid
airflow/airflow.cfg
*.log
.vscode/
.idea/
*.swp
*.swo
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*.pkl
models/*.h5
models/
models/*.pt
!models/.gitkeep
.DS_Store
Thumbs.db
secrets/
*.pem
*.key